/* 
Matches

li:matches(:nth-child(even), .target) {
  background-color: blue;
} 

li:not(.target) {
  background-color: blue;
}

*/

/* 
vari
:root {
  --awesomeColor: #2980b9;
  --awesomeBorder: 1px solid red;
}

li:first-child a {
  color: var(--awesomeColor);
  border: var(--awesomeBorder);
} 
*/

/* 

custom-selector

@custom-selector :--headers h1, h2, h3, h4, h5, h6;

:--headers {
  color: red;
} 
*/

/* @custom-media --iphone-size (max-width: 414px); */
/* @custom-media --iphone-size (width <= 414px); */
/* 
custom-media
@custom-media --iphone-size (400px < width <= 414px);

@media (--iphone-size) {
  body {
    background-color: brown;
  }
} 
*/
/* h1 {
  color: #f1c40f;
  font-family: system-ui;
} */

/* h1:hover {
  color: color-mod(#f1c40f alpha(50%));
} */
/* h1:hover {
  color: gray(80);
} */
